@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #242424;
}

h2 {
    color: #242424;
}

.background {
    background-image: linear-gradient( 179.4deg,  rgba(33,150,243,1) 1.8%, rgba(22,255,245,0.60) 97.1% );
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -30000;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.data {
    text-align: center;
}

.incomes {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button {
    color: white;
    font-weight: bold;
    width: 150px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
.green {
    background-color: #4ef18f;
}
.red {
    background-color: #f14e4e;
}

.sal {
    background-color: #0088FE;
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}
.fk {
    background-color: #00C49F;
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}

.msc {
    background-color: #FFBB28;
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}